body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-psd/maternity-baby-shower-background_23-2150237231.jpg?t=st=1721745515~exp=1721749115~hmac=775c261a9840534e079e0f5fc670e37e02a007d28efdea1e486d3b5227131e5d&w=1060'); /* Replace with the actual image URL */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensures the background image stays fixed on scroll */
}

#formSection, #tableSection {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* White with slight transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff6f61; /* Soft coral */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ff6f61; /* Soft coral */
}

input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff6f61; /* Soft coral */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0554e; /* Darker coral on hover */
}

#babyInfo p {
    margin: 0;
    padding: 8px 0;
    font-size: 16px;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* White with slight transparency */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: rgba(255, 223, 211, 0.9); /* Very light coral */
    color: #ff6f61; /* Soft coral */
}

td {
    background-color: rgba(255, 243, 240, 0.9); /* Very light coral */
}

@media print {
    #formSection {
        display: none;
    }
    #tableSection {
        display: block;
    }
}
