body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}
form {
    margin: 20px auto;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label, input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}
input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white; /* Added white background */
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#babyList {
    list-style-type: none;
    padding: 0;
}

#babyList li {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
